# Dart & Flutter
.dart_tool/
.packages
.melos_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
pubspec.lock
build/
coverage/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Flutter/.last_build_id
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/

# Xcode user data
*.xcuserstate
*.xcscmblueprint
*.xcuserdatad
DerivedData/

# macOS / Windows / Linux ephemeral (if enabled)
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
